{% extends "base.html" %}

{% block content %}
<!-- Carousel
 ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol-->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ STATIC_URL }}/img/banner.jpg" data-src="holder.js/900x500/auto/#777:#7a7a7a/">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Search For Help in Your Area</h1>
                        <div class="input-group">
                            <span class="input-group-addon">Zip Code</span>
                            <input type="text" class="form-control" placeholder="00000">
                        </div>
                        
                        <div class="input-group">
                            <span class="input-group-addon">What's the issue?</span>
                            <input type="text" class="form-control" placeholder="Please describe your problem.">
                        </div>
                        <a class="btn btn-lg btn-primary" href="#" role="button">GO!</a></p>
                    </div>
                </div>
                </div>
    </div>
    <!--a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a-->
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
 ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/background_check.png" data-src="holder.js/140x140" alt="Background checks." width="100">
                <h2>Safety above all.</h2>
                <p>The customers will know which Wizards have passed the optional background check.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/phone.png" class="img-circle" data-src="holder.js/140x140" alt="24 Hour Help" width="100">
                <h2>We keep an eye on things 24/7.</h2>
                <p>Unexpected issues can happen to anyone, and we standby for assistance on our non-stop hotline. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/payments.png" class="img-circle" data-src="holder.js/140x140" alt="Safe payments." width="100">
                <h2>Be in complete control of your money.</h2>
                <p>We use PayPal to intermediate all payments to the Wizards</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    
    
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/hours.png" data-src="holder.js/140x140" alt="Make your own hours." width="100">
                <h2>We believe in being your own boss.</h2>
                <p>Therefore, our Wizards will setup their own work ours. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/rates.png" class="img-circle" data-src="holder.js/140x140" alt="Competition" width="200">
                <h2>Competition is the best incentive!</h2>
                <p>The Wizards can choose their own hourly rates, based on their experience and the local demand.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/reviews.png" class="img-circle" data-src="holder.js/140x140" alt="Customer Reviews" width="100">
                <h2>Customers know best.</h2>
                <p>Our money back guarantee policy and review-based system will ensure our clients get the best service. Everytime.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    
    <!-- START THE FEATURETTES -->
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
    </div>
    
    <hr class="featurette-divider">
    
    <!-- /END THE FEATURETTES -->
    
    
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    
</div><!-- /.container -->
{% endblock %}
