{% extends "base.html" %}

{% block content %}
<!-- Carousel
 ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol-->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ STATIC_URL }}/img/banner.jpg" data-src="holder.js/900x500/auto/#777:#7a7a7a/">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>TechWiz connects you with the best local tech help.</h1>
                        <p>Search for Wizards near you and have them fix your problem in a jiffy.</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">What's the issue?</span>
                                    <input type="text" class="form-control" placeholder="Please describe your problem.">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">Zip Code</span>
                                    <input type="text" class="form-control" placeholder="00000">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                        <a class="btn btn-lg btn-primary" href="#" role="button">GO!</a></p>
                    </div>
                </div>
                </div>
    </div>
    <!--a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a-->
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
 ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/background_check.png" data-src="holder.js/140x140" alt="Background checks." width="100" class="lead animated fadeIn">
                <h2>Safety above all.</h2>
                <p>The customers will know which Wizards have passed the optional background check.</p>
                </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/phone.png" class="img-circle" data-src="holder.js/140x140" alt="24 Hour Help" width="100">
                <h2>We keep an eye on things 24/7.</h2>
                <p>Unexpected issues can happen to anyone, and we standby for assistance on our non-stop hotline. </p>
                </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/payments.png" class="img-circle" data-src="holder.js/140x140" alt="Safe payments." width="100">
                <h2>Be in complete control of your money.</h2>
                <p>We use PayPal to intermediate all payments to the Wizards</p>
                </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    
    <hr class="featurette-divider">
    
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/hours.png" data-src="holder.js/140x140" alt="Make your own hours." width="100">
                <h2>We believe in being your own boss.</h2>
                <p>Therefore, our Wizards will setup their own work hours. </p>
                </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/rates.png" class="img-circle" data-src="holder.js/140x140" alt="Competition" width="200">
                <h2>Competition is the best incentive!</h2>
                <p>The Wizards can choose their own hourly rates, based on their experience and the local demand.</p>
                </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}/img/reviews.png" class="img-circle" data-src="holder.js/140x140" alt="Customer Reviews" width="100">
                <h2>Customers know best.</h2>
                <p>Our money back guarantee policy and review-based system will ensure our clients get the best service. Everytime.</p>
                </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    
    <!-- START THE FEATURETTES -->
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <p class="lead">“I needed a technician to come over and look at all the passwords for the various accounts and sort it out. TechWiz connected me with a local MIT student who came over to my house that very afternoon and fixed everything for me. He was very professional and patiently explained to me what the issue was. I will definitely be using this website again, since it’s the easiest way I can get help with those pesky little tech problems."</p>
            <h3><span class="text-muted">Susan, 45, Professor</span></h3>
        </div>
        <div class="col-md-5">
            <img src="{{ STATIC_URL }}/img/woman.jpg" class="img-circle" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="We have no idea who she is.">
                </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-5">
            <img src="{{ STATIC_URL }}/img/picstudent.jpg" class="img-circle" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="This guy definitely didn't say that.">
                </div>
        <div class="col-md-7">
            <p class="lead">“I had been helping friends and family with small tech issues for years, but I never thought I could make money out of it, especially while being a full-time student. TechWiz made it super simple to do small tech jobs in my city. This year I made enough money for a new laptop!"</p>
            <h3><span class="text-muted">Matthew, 21, College Student</span></h3>
        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <!--div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ STATIC_URL }}/img/collegedude.jpg" class="img-cirlce"class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
    </div>
    
    <hr class="featurette-divider"-->
    
    <!-- /END THE FEATURETTES -->
    
    
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    
</div><!-- /.container -->
{% endblock %}
